@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.post-item {
    margin: 1rem 0;
  }
  
  .post-item__content {
    padding: 0;
    position: relative;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Varela Round", sans-serif;
  }
  
  .post-item__info {
    padding: 0  1rem;
  }

  .post-item__title {
    color: #ffff;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }

  .post-item__userId {
    color: rgb(209, 180, 14);
    text-align: left;
    margin-top: 0.5rem;
  }

  .post-item__body {
    color: #ffff;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid rgb(209, 180, 14);
    border-radius: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }

  @mixin post-item__button {
    display: inline-block;
    background: #F6B352;
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: "Varela Round", sans-serif;
  }
  .post-item__button--delete {
    @include post-item__button;
    margin-right: 2rem;
    float: right;
    &:hover {
      background: #F68657;
    }
  }

  .post-item__button--edit {
    @include post-item__button;
    margin-left: 2rem;
    float: left;
    &:hover {
      background: #f6cc57;
    }
  }

